.configurator-title {
    display: block;
    font-size: 1.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}

.container {
    width: 1200px;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box
}

.container1 {
    width: auto;
    max-width: 100%;
    padding: 0 15px; 
    margin: 0 auto;
    box-sizing: border-box
}

.bloc {
    margin-bottom: 75px
}

.canvas-interactive-wrapper {
    position: relative;
    height: auto;
    text-align: center;
    opacity: 0.85;
}

.canvas-interactive-wrapper canvas {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.canvas-interactive-wrapper .cta-wrapper {
    margin-top: 25px;
    margin-bottom: 25px;
}

.control-wrapper .cta-wrapper {
    margin-top: 44px;
    margin-bottom: 44px;
}

.control-wrapper .cta-wrapper-dpad {
    margin-top: 4px;
    margin-bottom: 4px;
}

pre {
    border-radius: 4px
}

/* @media screen and (max-width: 100px) {
    pre {
        font-size:75%
    }
} */

.canvas-interactive-wrapper .cta-wrapper a {
    position: relative;
    display: inline-block;
    padding: 3px 7px;
    border: solid 1px transparent;
    margin-right: 10px;
    margin-left: 10px;
    z-index: 1;
    text-decoration: none;
    color: #222;
    transition: border .3s;
}

.canvas-interactive-wrapper .cta-wrapper a.active {
    border-color: #222;
}

.control-wrapper .cta-wrapper a {
    position: relative;
    display: inline-block;
    padding: 3px 7px;
    border: solid 1px transparent;
    margin-right: 10px;
    margin-left: 10px;
    z-index: 1;
    text-decoration: none;
    color: #222;
    transition: border .3s;
    border-color: #222;
} 

.control-wrapper .cta-wrapper-dpad a {
    position: relative;
    display: inline-block;
    padding: 3px 7px;
    border: solid 1px transparent;
    margin-right: 19px;
    margin-left: 19px;
    width: 19px;
    height: 19px;
    z-index: 1;
    text-decoration: none;
    color: #222;
    transition: border .3s;
    border-color: #222;
}

.sandbox {
    position: relative;
    height: 20%;
    border-radius: 0px;
    background-color: #eee
}

.sandbox1 {
    position: relative;
    height: 25%;
    border-radius: 0px
}

.sandbox2 {
    position: relative;
    height: 70%;
    border-radius: 0px
}

.sandbox canvas {
    position: absolute;
    z-index:-1;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0px
}

.sandbox1 canvas {
    position: absolute;
    z-index: 1;
    display: contents;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0px
}

.sandbox-footer {
    position: relative;
    display: flex;
    align-items: baseline;
    padding: 10px 20px;
    background-color: #f5f2f0;
    margin-top: -4px;
    border-radius: 0 0 4px 4px;
    z-index: 1
}

.sandbox-footer .option {
    font-size: 14px;
    font-weight: bold;
    margin-right: 15px
}

.sandbox-footer .option:last-child {
    margin-right: 0
}

.sandbox-footer .option input[type=checkbox] {
    position: relative;
    top: 2px
}

.sandbox-footer .option select {
    margin-left: 5px
}

.config-wrapper {
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    width: 75%;
    opacity: 0.66;
    z-index: 1
}

.control-wrapper {
    position: relative;
    height: auto;
    text-align: center;
    margin-top: 40px;
    opacity: 0.66;
    z-index: 1
}

.view-wrapper {
    position: relative;
    height: 75%;
    text-align: center;
    margin-top: 40px;
    opacity: 0.66;
    z-index: 1
}

.canvas-interactive-wrapper {
    text-align: center
}

.tab-titles {
    list-style: none;
    padding: 0;
    margin: 0 0 -2px
}

.tab-titles li {
    display: inline-block
}

.tab-titles li.active {
    background-color: #f5f2f0;
    border-radius: 4px 4px 0 0
}

.tab-titles li.active a {
    font-weight: bold
}

.tab-titles li a {
    display: inline-block;
    padding: 10px 20px 12px;
    text-decoration: none;
    color: #333
}

.tab-content {
    background-color: #f5f2f0;
    border-radius: 4px;
    padding-bottom: 15px;
    height: 66%;
    font-size: large;
}

.tab-content .tab {
    padding: 15px;
    display: none
}

.tab-content .tab.active {
    display: block;
}

.controller-button {
    background-color: #777777;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 42px 2px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
}

.controller-button:hover {
    background-color: #AAAAAA;
    color: blue;
}

.controller-display {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    height: 133px;
    width: 75%;
    min-width: 200px;
    font-size: large;
    font-family: ui-monospace;
    resize: none;
    border-radius: 4px;
    border: none;
}

.viewer-display {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    height: 75%;
    /* min-height: 400; */
    width: 75%;
    min-width: 200px;
    font-size: small;
    font-family: ui-monospace;
    resize: none;
    border-radius: 4px;
    border: none;
}

.config-wrapper .tab-content .set-list {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.config-wrapper .tab-content .song-list {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.config-wrapper .tab-content .config-list-item {
    list-style-type: none;
    padding: 0;
}

.config-wrapper .tab-content .config-list-item a {
    padding: 0;
    color: black;
}

.config-wrapper .tab-content .config-list-item a:hover {
    padding: 0;
    background-color: #777777;
    color: #dddddd;
}

.config-wrapper .tab-content .config-list-item a:focus {
    padding: 0;
    border: #222222;
}

.config-wrapper .tab-content .add-item {
    list-style-type: none
}

.config-wrapper .tab-content .add-item .adder {
    background-color: transparent;
    border: solid 1px transparent;
    border-color: #222;
} 

.config-wrapper .tab-content .work-in-progress {
    background-color: transparent;
    border: solid 1px transparent;
    font-style: italic;
    color: #777777;
} 

.config-wrapper .tab-content .add-item .adder:hover {
    background-color: #777777;
    color: #dddddd;
} 

.config-wrapper .tab-content .config-list-item .edit {
    padding-top: 2px;
    float: right;
}

/* .config-wrapper .tab-content .config-list-item .edit-link {
    align-items: center;
}  */