# this file runs ~/MidiControllerWebApp/web-app.js as a service at boot time
#
# automate later:
# 
# sudo systemctl daemon-reload
# sudo systemctl enable ~/MidiControllerWebApp/midi-controller-web-app.service
# sudo update-rc.d midi-controller-web-app defaults
#
# Usage:
# sudo systemctl start | status | stop | restart midi-controller-web-app
# OR
# sudo service midi-controller-web-app start | status | stop | restart

[Unit]
Description=midi-controller-web-app Service
After=local-fs.target basic.target

[Service]
Type=idle
User=root
ExecStart=/usr/bin/nohup /usr/bin/node /home/pi/web-app.js 2>&1 &

[Install]
WantedBy=basic.target
